@model MvcCorePaginacionRegistros.Models.ModelPaginacionDepartamentoEmpleados

@await Component.InvokeAsync("PaginacionEmpleadosDepartamento", new { id = Model.Departamento.IdDepartamento,posicion=1})
@* @{
    ViewData["Title"] = Model.Departamento.Nombre;
    int pos = (int)ViewData["POSICION"];
    int registros = (int)ViewData["REGISTROS"];
    int next = pos + 1;
    int prev = pos - 1;
    if (registros == pos)
    {
        next = 1;
    }
    if (pos == 1)
    {
        prev = registros;
    }
}

<h1>@Model.Departamento.Nombre</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @Model.Departamento.IdDepartamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Departamento.IdDepartamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @Model.Departamento.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Departamento.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @Model.Departamento.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @Model.Departamento.Localidad)
        </dd>
    </dl>
</div>
@if (Model.Empleado != null)
{

    <p class="fs-3">@pos de @registros</p>
    <div class="card" style="max-width:18rem;">
        <div class="card-body">

            <figure class="figure card-img-top">
                <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
            </figure>
            <p class="fs-2 fw-bold text-center">@Model.Empleado.Apellido</p>
            <p>ID: @Model.Empleado.IdEmpleado</p>
            <p>OFICIO: @Model.Empleado.Oficio</p>
            <p>SALARIO: @Model.Empleado.Salario</p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-between">
            @*  @if (prev > 0)
        {  
            <a class="btn btn-primary"
               asp-controller="Departamentos"
               asp-action="Details"
               asp-route-posicion="@prev">
                Previous
            </a>
            @* } 
            <a class="btn btn-primary"
               asp-controller="Departamentos"
               asp-action="Details"
               asp-route-posicion="@next">
                Next
            </a>
        </div>
    </div>

} *@

